
body {
    background: #111;
    font-family: 'Ubuntu', sans-serif;
    min-height: 95vh;
    top: 0;
    bottom: 0;
    left: auto;
    right: auto;
}

@media only screen and (max-width: 750px) {
    body {
        display: grid;
    }
}
