
.container {
  float: center;
  height: 300px;
  width: 150px;
  margin-top: 2rem;
}

.loader {
  height: 96%;
  width: 94%;
  margin: 2.5%;
  border-top: 3px solid #999;
  border-bottom: 3px solid coral;
  border-radius: 50%;
  animation: 60s rotate linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(810deg);
  }
}
