

.container {
  /* position: absolute; */
  height: 400px;
  width: 200px;
  left: 40%;
}

.loader {
  height: 95%;
  width: 95%;
  margin: 2.5%;
  border-top: 3px solid #999;
  border-bottom: 3px solid coral;
  border-radius: 50%;
  animation: 60s rotate linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(810deg);
  }
}
