
img {
  width: 240px;
  margin-top: 1%;
}

.bar {
  background: #C44D33;
  color: white;
  width: 10rem;
  align-content: center;
  margin-left: 80%;
  margin-top: -535px;
  padding-left: 0px;
  text-align: center;
  transform: rotate(23deg) skew(0,3deg);
  box-shadow: 1em 1em 2rem #008b8b;
}

.chunk {
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  padding-left: 0px;
  background: #222;
}

.chunk:hover {
  transform: translate(5%, -10%);
  transition: all .3s linear;
  color: #C44D33;
}

a {
  color: white;
}
/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: #C44D33;
}

/* selected link */
a:active {
  color: white;
}


@media only screen and (max-width: 500px) {
  .bar {
    transform: rotate(0deg) skew(0,0deg);
    float: left;
    margin-top: 25px;
    margin-left: 23%;
    width: 15rem;
    box-shadow: none;
  }
}