.space {
  margin-left: 35%;
  margin-top: -500px;
  color:white;
}

a {
  color: white;
}
/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: black;
}

/* selected link */
a:active {
  color: white;
}

.btn {
  padding: 2%;
  width: 35%;
  text-align: center;
  margin: 1%;
  margin-left: 30%;
  margin-right: 30%;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  box-shadow: 2px 4px 10px black;
  border-radius: 15px;
  color: white;
}

.button1 {
  background: black;
  background: -webkit-linear-gradient(white, black);
  background: linear-gradient( white, black);
  background-position: 0 75%;
  background-size: auto 200%;
  transition: background-position 0.3s;
}

.button2 {
    background: black;
    background: -webkit-linear-gradient(white, black);
    background: linear-gradient( white, black);
    background-position: 0 75%;
    background-size: auto 200%;
    transition: background-position 0.3s;
  }

  .button3 {
    background: black;
    background: -webkit-linear-gradient(white, black);
    background: linear-gradient( white, black);
    background-position: 0 75%;
    background-size: auto 200%;
    transition: background-position 0.3s;
  }

  .button4 {
    background: black;
    background: -webkit-linear-gradient(white, black);
    background: linear-gradient( white, black);
    background-position: 0 75%;
    background-size: auto 200%;
    transition: background-position 0.3s;
  }



.fx:hover {
  background-position: 0 0;
  transform: scale(1.1);
  box-shadow: 6px 6px 10px black;
}